body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  margin: 0;
  padding: 0;
}

#current-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#current-city {
  font-size: 1.2em;
}

#current-temperature {
  font-size: 3em;
  font-weight: bold;
}

#current-summary {
  height: 25vh;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22vh auto;
}

#daily-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 2vh;
  width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4vh;
  display: flex;
  justify-content: center;
}

#daily-weather .icon {
  height: 30px;
  width: auto;
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 6vh;
}

.everyday-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14.2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-left: 1px solid #000000;
  max-width: 100px;
}

.everyday-weather:first-child {
  border-width: 0px;
}

#search {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search #search-current {
  height: 5vh;
  width: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#search #search-current img {
  height: 3.5vh;
  width: auto;
}

#search #search-current button {
  border: none;
  height: 5vh;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

#search #search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search #search-input #searchTextField {
  height: 5vh;
  font-size: 4vh;
  width: 95vw;
  border: 0;
  margin: 0;
}

.pac-item {
  font-size: .7em;
  line-height: 2em;
  padding: 2vh 0;
}

.pac-matched {
  font-size: 1.2em;
}

.pac-item-query {
  font-size: 1.7em;
}

@media (min-width: 768px) {
  body {
    font-size: 2.5vw;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 45px;
  }
  #daily-weather {
    position: static;
  }
}

@media (min-width: 1500px) {
  #daily-weather {
    font-size: 33px;
  }
}

@media (min-width: 1024px) {
  .pac-item-query {
    font-size: 1em;
  }
  #search-input {
    max-width: 1024px;
  }
  #search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */